<nav class="ob-nav">
  <a href="/dashboard">Painel Financeiro</a>
  <a href="/transacoes">Transações</a>
  <a href="/categorias">Categorias</a>
  <a href="/contas">Contas</a>
  <a href="/metas">Metas</a>
  <a href="/relatorios">Relatórios</a>
  <a href="/logout">Sair</a>
</nav>
